@use '../utilities/variables' as *;

// Tracker -> Form
@keyframes formInvalid {
  0% {
      opacity: 0;
      transform: translateY(-50%) scale(0.2);
  }
  50% {
      transform: translateY(-50%) scale(1.5);
  }
  100% {
      opacity: 1;
      transform: translateY(-50%) scale(1);
  }
}

// Tracker -> Loader
@keyframes loaderFirst {
    50% {
      transform: scale(1.4) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  
@keyframes loaderSec {
    50% {
        transform: scale(1.5) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(-720deg);
    }
}

// Tracker -> Results

@keyframes collapse-mobile {
  0% {
      height: 312px;
  }
  100% {
      height: 67px;
  }
}

@keyframes collapse-desktop {
  0% {
      height: 186px;
  }
  100% {
      height: 20px;
  }
}

@keyframes collapse-opacity {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes expand-mobile {
  0% {
    height: 67px;
  }
  100% {
    height: 312px;
  }
}

@keyframes expand-desktop {
  0% {
    height: 20px;
  }
  100% {
    height: 186px;
  }
}

@keyframes expand-opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}